* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

main {
  width: 30vw;
  padding: 10px;
  background-color: rgb(128, 128, 128);
  margin: auto;
  margin-top: 20vh;
}

form {
  width: 99%;
  margin: auto;
  padding: 2em;
  background-color: rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

input[name^=nom] {
  margin-left: 6.25em;
}

input[name^=ape] {
  margin-left: 6em;
}

input[name=dni] {
  margin-left: 8em;
}

input[name^=fe] {
  margin-left: 4.75em;
  margin-bottom: 1em;
}

input[name=calle] {
  width: 125px;
  margin-left: 2em;
}

input[name=nro] {
  width: 50px;
  margin-left: 1em;
}

input[name^=local] {
  margin-left: 5.25em;
}

label {
  margin-bottom: 0.25em;
}
label:nth-child(6) {
  margin-bottom: -1em;
}
label:nth-child(7) {
  position: relative;
  left: 13.75em;
  bottom: 0.3em;
  margin-bottom: 0;
}

aside {
  position: absolute;
  background-color: rgb(128, 128, 128);
  height: 40.5vh;
  width: 5vw;
  left: 25.5em;
  padding: 0.7em;
}
aside div {
  background-color: rgb(167, 167, 167);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.icons {
  height: 3em;
  width: 3em;
}
.icons:hover {
  cursor: pointer;
}

.check-circle-fill {
  color: rgb(0, 149, 0);
}

.x-circle-fill {
  color: rgb(193, 0, 0);
}

#enviar, #cancelar, #lista {
  background-color: transparent;
  border: none;
}